.chargeInfoField {
    -fx-text-fill: black !important;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-prompt-text-fill: rgb(115, 115, 115, 0.5) !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: grey;
    -fx-border-width: 0 0 1.5px 0;
    -fx-background-color: transparent;
}