/*Spinner*/
.formSpinner {
    -fx-progress-color: #2196f3; /* Color of the spinner */
    -fx-background-color: transparent; /* Set background to transparent */
    -fx-border-color: rgb(128, 128, 128,0.3);
    -fx-border-radius: 3;
    -fx-base:  #665cb6;
}

.formSpinner .spinner-content {
    -fx-padding: 4px;
    -fx-background-color: transparent;
}
.formSpinner .spinner-content .spinner-icon {
    -fx-background-color: transparent;
    -fx-shape: "M 15.5 2.5 L 15.5 7.5 L 17.5 7.5 L 17.5 2.5 Z";
    -fx-fill: #2196f3; /* Color of the spinner icon */
}
.formSpinner .increment-arrow-button .increment-arrow {
    -fx-background-color: black;
}
.formSpinner .increment-arrow-button {
    -fx-background-color: #f2f2f2; /* Set background to transparent */
    -fx-border-color: black;
    -fx-border-width: 0 0 0 0.5; /* top right bottom left */
    -fx-border-radius: 2;
}
.formSpinner .decrement-arrow-button {
    -fx-background-color: #f2f2f2; /* Set background to transparent */
        -fx-border-color: black;
            -fx-border-width: 0 0 0 0.5; /* top right bottom left */
        -fx-border-radius: 2;
}
.formSpinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: black;
}
.formSpinner:focused .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #008cd7;
}
.formSpinner:focused .increment-arrow-button .increment-arrow {
    -fx-background-color: #008cd7;
}