/* Material Design ComboBox */
.combo-box {
   -fx-text-fill: black !important;
   -fx-font-family: "Segoe UI";
   -fx-font-size: 16px;
   -fx-background-color: white;
   -fx-prompt-text-fill: #737373 !important;
   -fx-background-insets: 0;
   -fx-padding: 3.9px;
   -fx-border-radius: 5; /* Remove border-radius for a flat appearance */
   -fx-background-radius: 5;
   -fx-border-width: 0.5 0.5 0.5 0.5; /* Set bottom border width */
   -fx-border-color: grey; /* Set initial border color to transparent */
}
.combo-box .list-cell {
    -fx-text-fill:  black; /* Set the text color */
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: black; /* Text color only for dropdown options */
    -fx-background-color:  #f2f2f2;
    -fx-border-color: none;
}

.combo-box:focused {
    -fx-border-color: #665cb6; /* Change border color when focused */
        -fx-border-width: 0.2 0.2 3px 0.2; /* Increase bottom border width when focused */
        -fx-background-color: #f2f2f2;
        -fx-effect: none;
}