/* Material Design TextField */
.text-field {
    -fx-text-fill: #b5b5b5 !important;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #34394b;
    -fx-prompt-text-fill: rgb(30, 144, 255,0.8) !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
    -fx-border-width: 0 0 2px 0; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 1); /* black shadow with raised depth */
}

.text-field:focused {
    -fx-border-color: #2979ff; /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-background-color: #495069;
    -fx-effect: none;
}