.formRadioBtn .dot {
    -fx-background-color: transparent;
    -fx-border-color: grey;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-min-width: 14.5px;
    -fx-min-height: 14.5px;
    -fx-background-radius: 10px;
}

.formRadioBtn:selected .dot {
    -fx-background-color: #5e7387;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-min-width: 14.5px;
    -fx-min-height: 14.5px;
    -fx-background-radius: 10px;
}

.formRadioBtn .radio {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.formRadioBtn .label {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}