.formButton {
    -fx-background-color: rgb(102, 92, 182, 0.85); /* Background color */
    -fx-border-width: 0 1.5 0 1.5;
    -fx-border-color: white; /* Border color */
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 16px;
}
.formButton:hover {
    -fx-background-color: #6b61b8; /* Background color */
    -fx-border-width: 0 0 0 0;
        -fx-border-color: white; /* Border color */
}
.formButton:pressed {
    -fx-background-color: #5a4fb0; /* Background color */
    -fx-border-width: 0 0 0 0;
        -fx-border-color: white; /* Border color */
}
.incidentformButton {
    -fx-background-color: rgb(94, 115, 135,0.8); /* Background color */
    -fx-border-width: 0;
    -fx-border-color: white; /* Border color */
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 16px;
}
.incidentformButton:hover {
    -fx-background-color: #546778; /* Background color */
    -fx-border-width: 0;
}
.incidentformButton:pressed {
    -fx-background-color: #495a69; /* Background color */
    -fx-border-width: 0;
}