.arrestpane {
    -fx-background-color:  #5e877d;
}
.impoundpane {
    -fx-background-color:  #875e87;
}
.pcitationpane {
    -fx-background-color:  #73875e;
}
.tcitationpane {
    -fx-background-color:  #875e68;
}
.incidentpane {
    -fx-background-color:  #5e7387;
}
.calloutpane {
    -fx-background-color:  #685e87;
}
.patrolpane {
    -fx-background-color:  #875e5e;
}
.searchpane {
    -fx-background-color:  #5e6887;
}
.trafficstoppane {
    -fx-background-color:  #87875e;
}