.text-area {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.text-area .scroll-pane {
    -fx-background-color:  transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .corner {
    -fx-background-color: transparent;
    }

/* Define styles for the vertical scroll bar */
.text-area .scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-width: 15px; /* Thicker width */
}

.text-area .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #665cb6; /* Thumb color */
    -fx-min-height: 15px; /* Thicker thumb */
}

.text-area .scroll-pane .scroll-bar:vertical .increment-button,
.text-area .scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the horizontal scroll bar */
.text-area .scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-height: 15px; /* Thicker height */
}

.text-area .scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #665cb6; /* Thumb color */
    -fx-min-width: 15px; /* Thicker thumb */
}

.text-area .scroll-pane .scroll-bar:horizontal .increment-button,
.text-area .scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the track of the scroll bars */
.text-area .scroll-pane .scroll-bar .track {
    -fx-background-color: none; /* Transparent track */
}
/* Define styles for the vertical scroll bar when pressed */
.text-area .scroll-pane .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #51479e; /* Thumb color when pressed */
}

/* Define styles for the horizontal scroll bar when pressed */
.text-area .scroll-pane .scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #51479e; /* Thumb color when pressed */
}