/* Material Design ComboBox */
.combo-box {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 3px;
    -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
    -fx-border-width: 0 0 2px 0; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
}
.combo-box .list-cell {
    -fx-text-fill:  black; /* Set the text color */
}
.combo-box .list-view .list-cell {
    -fx-text-fill: black; /* Text color only for dropdown options */
    -fx-background-color:  #f2f2f2;
    -fx-border-color: none;
}
.combo-box .scroll-bar {
    -fx-background-color: #f2f2f2; /* Transparent background */
        -fx-pref-width: 11px; /* Thicker width */
}
.combo-box .scroll-bar .increment-arrow,
.combo-box .scroll-bar .decrement-arrow {
    -fx-background-color: none; /* Change arrow color */
}
.combo-box .scroll-bar .thumb {
    -fx-background-color: #5e7387; /* Change arrow color */
}
.combo-box .scroll-bar .thumb:pressed {
    -fx-background-color: #495a69; /* Change arrow color */
}
.combo-box .list-view .list-cell:hover {
    -fx-background-color: rgb(94, 115, 135,0.4); /* Set the hover background color */
}
.combo-box:focused {
    -fx-border-color: #5e7387; /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-effect: none;
    -fx-background-color: rgb(242, 242, 242);
}

.combo-box2 {
   -fx-text-fill: black !important;
   -fx-font-family: "Roboto";
   -fx-font-size: 16px;
   -fx-background-color: #f2f2f2;
   -fx-prompt-text-fill: #737373 !important;
   -fx-background-insets: 0;
   -fx-padding: 3.9px;
   -fx-border-radius: 5; /* Remove border-radius for a flat appearance */
   -fx-background-radius: 5;
   -fx-border-width: 0.35 0.35 0.35 0.35; /* Set bottom border width */
   -fx-border-color: grey; /* Set initial border color to transparent */
}
.combo-box2 .list-cell {
    -fx-text-fill:  black; /* Set the text color */
}
.combo-box2-popup .list-view .list-cell {
    -fx-text-fill: black; /* Text color only for dropdown options */
    -fx-background-color:  #f2f2f2;
    -fx-border-color: none;
}
.combo-box2 .scroll-bar {
    -fx-background-color: #f2f2f2; /* Transparent background */
        -fx-pref-width: 11px; /* Thicker width */
}
.combo-box2 .scroll-bar .increment-arrow,
.combo-box2 .scroll-bar .decrement-arrow {
    -fx-background-color: none; /* Change arrow color */
}
.combo-box2 .scroll-bar .thumb {
    -fx-background-color: #5e7387; /* Change arrow color */
}
.combo-box2 .scroll-bar .thumb:pressed {
    -fx-background-color: #495a69; /* Change arrow color */
}
.combo-box2:focused {
    -fx-border-color: #5e7387; /* Change border color when focused */
        -fx-border-width: 0.2 0.2 3px 0.2; /* Increase bottom border width when focused */
        -fx-background-color: #f2f2f2;
        -fx-effect: none;
}