/* Modern Material Design Button */
.button {
    -fx-background-color: lightgrey; /* Background color */
    -fx-padding: 8px 16px; /* Padding */
    -fx-background-radius: 4px; /* Border radius */
    -fx-border-color: transparent; /* Border color */
}

.button:hover {
    -fx-background-color:  #008cd7; /* Hover background color */
    -fx-text-fill: white; /* Text color */
}

.button:pressed {
    -fx-background-color: #1565c0; /* Pressed background color */
    -fx-text-fill: white; /* Text color */
}

.button:disabled {
    -fx-opacity: 0.5; /* Opacity for disabled state */
}
