/* Modern Subheader Style */
.headingBig {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(102, 92, 182); /* Dark grey color */
    -fx-padding: 4px 0; /* Adjust padding as needed */

}

.impoundHeadingBig {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #875e87; /* Dark grey color */
    -fx-padding: 4px 0; /* Adjust padding as needed */
}

.searchHeadingBig {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e6887; /* Dark grey color */
    -fx-padding: 4px 0; /* Adjust padding as needed */
}

.incidentHeadingBig {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e7387; /* Dark grey color */
    -fx-padding: 4px 0; /* Adjust padding as needed */
}

.arrestHeadingBig {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e877d; /* Dark grey color */
    -fx-padding: 4px 0; /* Adjust padding as needed */
}

.heading {
    -fx-font-family: "Segoe UI SemiBold";
    -fx-background-color: rgb(102, 92, 182,0.75);
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill:   white; /* Dark grey color */
    -fx-padding: 4px 0; /* Adjust padding as needed */
}

.sub-heading {
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill:   #404040; /* Dark grey color */
    -fx-padding: 4px 0; /* Adjust padding as needed */
}

.medicalInformation {
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
    -fx-font-weight: bold;
    -fx-text-fill:   #404040; /* Dark grey color */
    -fx-padding: 4px 0; /* Adjust padding as needed */
}