.text-area {
    -fx-background-color: white
}

.text-area .content {
    -fx-background-color: #edf1f3;
    -fx-text-fill: #9e9e9e;
    -fx-highlight-fill: #7ecfff;
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-size: 14px;
}

.text-area:focused .content {
    -fx-background-color: white;
}

.text-area:focused {
    -fx-text-fill: black;
    -fx-highlight-fill: #7ecfff;
}