.headingBig {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(102, 92, 182);
    -fx-padding: 4px 0;
}

.searchHeadingBig {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e6887;
    -fx-padding: 4px 0;
}

.incidentHeadingBig {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e7387;
    -fx-padding: 4px 0;
}

.heading {
    -fx-font-family: "Segoe UI SemiBold";
    -fx-background-color: rgb(102, 92, 182, 0.75);
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 4px 0;
}

.incidentHeading {
    -fx-font-family: "Segoe UI SemiBold";
    -fx-background-color: #5e7387;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 4px 0;
}

.sub-heading {
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #404040;
    -fx-padding: 4px 0;
}

.medicalInformation {
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
    -fx-font-weight: bold;
    -fx-text-fill: #404040;
    -fx-padding: 4px 0;
}