/*TextFields*/
.formField {
    -fx-text-fill: black !important;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-background-color: #e6e6e6;
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
    -fx-border-width: 0 0 2px 0; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
}
.formField:focused {
    -fx-border-color: #665cb6; /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-background-color: rgb(217, 217, 217);
    -fx-effect: none;
}