.CitationTree {
    -fx-border-color: #e6e6e6;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-font-size: 15;
    -fx-font-family: "Segoe UI";
}

.CitationTree .tree-disclosure-node {
    -fx-background-color: transparent;
}

.CitationTree .tree-cell:hover {
    -fx-background-color: rgb(94, 115, 135, 0.3);
    -fx-text-fill: black;
}

.CitationTree .tree-cell:selected {
    -fx-background-color: rgb(94, 115, 135, 0.8);
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Semibold";
}

.CitationTree .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 14px;
}

.CitationTree .scroll-bar:vertical .thumb {
    -fx-background-color: #546778;
    -fx-min-height: 14px;
}

.CitationTree .corner {
    -fx-background-color: transparent;
}

.CitationTree .scroll-bar:vertical .increment-button,
.CitationTree .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.CitationTree .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-width: 14px;
}

.CitationTree .scroll-bar:horizontal .thumb {
    -fx-background-color: #546778;
    -fx-min-height: 14px;
}

.CitationTree .scroll-bar:horizontal .increment-button,
.CitationTree .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

.CitationTree .scroll-bar .track {
    -fx-background-color: none;
}

.CitationTree .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #495a69;
}

.CitationTree .scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #495a69;
}