/* Style the button */
.button {
    -fx-background-color: transparent; /* Default button background color */
}

.button > .label {
    -fx-text-fill: white; /* Change the text color to red */
    -fx-alignment: center-left;
    -fx-font-size: 18px;
    -fx-padding: 0 0 0 10.5;
}
.button .arrow {
    -fx-background-color: white;
}
/* Style the button when pressed */
.button:pressed {
    -fx-background-color: red; /* Button background color when pressed */
}
.button:hover {
    -fx-background-color:  #7b72c0; /* Hover background color */
}
.button:hover > .label {
        /*-fx-text-fill: #1e90ff;*/
}
.button:focused {
    -fx-background-color:  #7b72c0; /* Hover background color */
}
/* Style the menu */
.context-menu {
    -fx-background-color:  #3f377b; /* Set the background color */

}
.context-menu .label {
    -fx-text-fill:  white; /* Set the background color */
    -fx-font-size: 15px;
}