.menuTopBar {
    -fx-background-color: #524992;
}

.menuBackground {
    -fx-background-color: white;
}

.menuSidePanel {
    -fx-background-color: #665cb6;
}

.menuButton {
    -fx-background-color: white;
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
    -fx-border-width: 0.5;
    -fx-border-color: grey;
    -fx-text-fill: rgb(0, 0, 0, 0.9);
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
}

.menuButton:hover {
    -fx-text-fill: #7b72c0;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}

.menuButton:pressed {
    -fx-background-color: #7b72c0;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
}

.menuField {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: grey;
}

.menuField:focused {
    -fx-border-color: #665cb6;
    -fx-border-width: 0 0 3px 0;
    -fx-background-color: rgb(242, 242, 242);
    -fx-effect: none;
}

.calloutTextArea {
    -fx-control-inner-background: rgb(190, 190, 190, 0.9);
}

.calloutField {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: grey;
}

.menuCombobox {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 3px;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: grey;
}

.menuCombobox .list-cell {
    -fx-text-fill: black;
}

.menuCombobox .list-view .list-cell {
    -fx-text-fill: black;
    -fx-background-color: #f2f2f2;
    -fx-border-color: none;
}

.menuCombobox .scroll-bar {
    -fx-background-color: #f2f2f2;
    -fx-pref-width: 11px;
}

.menuCombobox .scroll-bar .increment-arrow,
.menuCombobox .scroll-bar .decrement-arrow {
    -fx-background-color: none;
}

.menuCombobox .scroll-bar .thumb {
    -fx-background-color: #665cb6;
}

.menuCombobox .scroll-bar .thumb:pressed {
    -fx-background-color: #51479e;
}

.menuCombobox .list-view .list-cell:hover {
    -fx-background-color: #ada7d7;
}

.menuCombobox:focused {
    -fx-border-color: #665cb6;
    -fx-border-width: 0 0 3px 0;
    -fx-effect: none;
    -fx-background-color: rgb(242, 242, 242);
}

.purpleButton {
    -fx-background-color: rgb(102, 92, 182, 0.95);
    -fx-padding: 8px 16px;
    -fx-background-radius: 7px;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 16px;

}

.purpleButton:hover {
    -fx-background-color: rgb(102, 92, 182, 0.8);
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}

.purpleButton:pressed {
    -fx-background-color: rgb(102, 92, 182);
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 16px;
}

.incidentbtn {
    -fx-background-color: #5e7387;
    -fx-padding: 8px 16px;
    -fx-background-radius: 7px;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 16px;

}

.incidentbtn:hover {
    -fx-background-color: #495a69;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}

.incidentbtn:pressed {
    -fx-background-color: #34404b;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 16px;
}

.connField {
    -fx-text-fill: green !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: red !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: grey;
}

.connField:focused {
    -fx-border-color: #665cb6;
    -fx-border-width: 0 0 3px 0;
    -fx-background-color: rgb(242, 242, 242);
    -fx-effect: none;
}

.settingsBtn {
    -fx-background-color: rgb(102, 92, 182, 0.95);
    -fx-padding: 2px 4px;
    -fx-background-radius: 7px;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 14px;

}

.settingsBtn:hover {
    -fx-background-color: rgb(102, 92, 182, 0.8);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}

.settingsBtn:pressed {
    -fx-background-color: rgb(102, 92, 182);
    -fx-text-fill: white;
}