/*BackGrounds*/
.menuTopBar {
    -fx-background-color: #524992;
}
.menuBackground {
    -fx-background-color: white;
}
.menuPane {
    -fx-background-color:  #e9e9e9;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0.0, 0, 1);
}
.menuSidePanel {
    -fx-background-color: #665cb6;
}
.shiftInfoPane {
    -fx-background-color:  white;
    -fx-background-radius: 0;
}
.offWhiteBackground{
-fx-background-color: #f2f2f2;
}
/*Button*/
.menuButton {
    -fx-background-color: white; /* Background color */
    -fx-padding: 8px 16px; /* Padding */
    -fx-border-radius: 4px; /* Border radius */
    -fx-border-width: 0.5;
    -fx-border-color: grey; /* Border color */
    -fx-text-fill: rgb(0, 0, 0, 0.9);
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
}
.menuButton:hover {
    -fx-background-color: #a497ce; /* Hover background color */
    -fx-text-fill: black; /* Text color */
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
}
.menuButton:pressed {
    -fx-background-color: #7b72c0; /* Pressed background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
}

/*TextFields*/
.menuField {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
    -fx-border-width: 0 0 2px 0; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
}
.menuField:focused {
    -fx-border-color: #665cb6; /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-background-color: rgb(242, 242, 242);
    -fx-effect: none;
}

/*ComboBoxes*/
.menuCombobox {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 3px;
    -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
    -fx-border-width: 0 0 2px 0; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
}
.menuCombobox .list-cell {
    -fx-text-fill:  black; /* Set the text color */
}
.menuCombobox .list-view .list-cell {
    -fx-text-fill: black; /* Text color only for dropdown options */
    -fx-background-color:  #f2f2f2;
    -fx-border-color: none;
}
.menuCombobox .scroll-bar {
    -fx-background-color: #f2f2f2; /* Transparent background */
        -fx-pref-width: 11px; /* Thicker width */
}
.menuCombobox .scroll-bar .increment-arrow,
.menuCombobox .scroll-bar .decrement-arrow {
    -fx-background-color: none; /* Change arrow color */
}
.menuCombobox .scroll-bar .thumb {
    -fx-background-color: #665cb6; /* Change arrow color */
}
.menuCombobox .scroll-bar .thumb:pressed {
    -fx-background-color: #51479e; /* Change arrow color */
}
.menuCombobox .list-view .list-cell:hover {
    -fx-background-color: #ada7d7; /* Set the hover background color */
}
.menuCombobox:focused {
    -fx-border-color:#665cb6; /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-effect: none;
    -fx-background-color: rgb(242, 242, 242);
}

/*Spinner*/
.menuSpinner {
    -fx-progress-color: #2196f3; /* Color of the spinner */
    -fx-background-color: transparent; /* Set background to transparent */
    -fx-border-color: rgb(128, 128, 128,0.3);
    -fx-border-radius: 3;
    -fx-base:  #665cb6;
}

.menuSpinner .spinner-content {
    -fx-padding: 4px;
    -fx-background-color: transparent;
}
.menuSpinner .spinner-content .spinner-icon {
    -fx-background-color: transparent;
    -fx-shape: "M 15.5 2.5 L 15.5 7.5 L 17.5 7.5 L 17.5 2.5 Z";
    -fx-fill: #2196f3; /* Color of the spinner icon */
}
.menuSpinner .increment-arrow-button .increment-arrow {
    -fx-background-color: black;
}
.menuSpinner .increment-arrow-button {
    -fx-background-color: #f2f2f2; /* Set background to transparent */
    -fx-border-color: black;
    -fx-border-width: 0 0 0 0.5; /* top right bottom left */
    -fx-border-radius: 2;
}
.menuSpinner .decrement-arrow-button {
    -fx-background-color: #f2f2f2; /* Set background to transparent */
        -fx-border-color: black;
            -fx-border-width: 0 0 0 0.5; /* top right bottom left */
        -fx-border-radius: 2;
}
.menuSpinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: black;
}
.menuSpinner:focused .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #008cd7;
}
.menuSpinner:focused .increment-arrow-button .increment-arrow {
    -fx-background-color: #008cd7;
}

/*Notes*/
.purpleButton {
    -fx-background-color: rgb(102, 92, 182, 0.95); /* Background color */
    -fx-padding: 8px 16px; /* Padding */
    -fx-background-radius: 7px; /* Border radius */
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold" !important;
        -fx-font-size: 16px;

}
.purpleButton:hover {
    -fx-background-color:  rgb(102, 92, 182,0.8); /* Hover background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 16px;
}
.purpleButton:pressed {
    -fx-background-color: rgb(102, 92, 182); /* Pressed background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Segoe UI SemiBold";
        -fx-font-size: 16px;
}

/* ToggleButton style */
.togglePurpleButton {
    -fx-background-color: transparent;
    -fx-border-color: #68469c;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-padding: 5px;
    -fx-text-fill: #68469c;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
}

.togglePurpleButton:hover {
    -fx-background-color: #68469c;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
}

.togglePurpleButton:selected {
    -fx-background-color: #68469c;
    -fx-text-fill: white;
    -fx-background-radius: 15px; /* Ensure consistent border radius */
}

