.menuTopBar {
    -fx-background-color: #524992;
}
.menuBackground {
    -fx-background-color: white;
}
.menuSidePanel {
    -fx-background-color: #665cb6;
}
/*Button*/
.menuButton {
    -fx-background-color: white; /* Background color */
    -fx-padding: 8px 16px; /* Padding */
    -fx-border-radius: 4px; /* Border radius */
    -fx-border-width: 0.5;
    -fx-border-color: grey; /* Border color */
    -fx-text-fill: rgb(0, 0, 0, 0.9);
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
}
.menuButton:hover {
    -fx-text-fill: #7b72c0; /* Text color */
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}
.menuButton:pressed {
    -fx-background-color: #7b72c0; /* Background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 14.5px;
}

/*TextFields*/
.menuField {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
    -fx-border-width: 0 0 2px 0; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
}
.menuField:focused {
    -fx-border-color: #665cb6; /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-background-color: rgb(242, 242, 242);
    -fx-effect: none;
}

.calloutTextArea {
    -fx-control-inner-background: rgb(190, 190, 190, 0.9);
}

.calloutField {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
    -fx-border-width: 0 0 2px 0; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
}

/*ComboBoxes*/
.menuCombobox {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-background-color: rgb(242, 242, 242, 0.6);
    -fx-prompt-text-fill: #524992 !important;
    -fx-background-insets: 0;
    -fx-padding: 3px;
    -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
    -fx-border-width: 0 0 2px 0; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
}
.menuCombobox .list-cell {
    -fx-text-fill:  black; /* Set the text color */
}
.menuCombobox .list-view .list-cell {
    -fx-text-fill: black; /* Text color only for dropdown options */
    -fx-background-color:  #f2f2f2;
    -fx-border-color: none;
}
.menuCombobox .scroll-bar {
    -fx-background-color: #f2f2f2; /* Transparent background */
        -fx-pref-width: 11px; /* Thicker width */
}
.menuCombobox .scroll-bar .increment-arrow,
.menuCombobox .scroll-bar .decrement-arrow {
    -fx-background-color: none; /* Change arrow color */
}
.menuCombobox .scroll-bar .thumb {
    -fx-background-color: #665cb6; /* Change arrow color */
}
.menuCombobox .scroll-bar .thumb:pressed {
    -fx-background-color: #51479e; /* Change arrow color */
}
.menuCombobox .list-view .list-cell:hover {
    -fx-background-color: #ada7d7; /* Set the hover background color */
}
.menuCombobox:focused {
    -fx-border-color:#665cb6; /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-effect: none;
    -fx-background-color: rgb(242, 242, 242);
}
/*Notes*/
.purpleButton {
    -fx-background-color: rgb(102, 92, 182, 0.95); /* Background color */
    -fx-padding: 8px 16px; /* Padding */
    -fx-background-radius: 7px; /* Border radius */
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold" !important;
        -fx-font-size: 16px;

}
.purpleButton:hover {
    -fx-background-color:  rgb(102, 92, 182,0.8); /* Hover background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}
.purpleButton:pressed {
    -fx-background-color: rgb(102, 92, 182); /* Pressed background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Segoe UI SemiBold";
        -fx-font-size: 16px;
}

.incidentbtn {
    -fx-background-color: #5e7387; /* Background color */
    -fx-padding: 8px 16px; /* Padding */
    -fx-background-radius: 7px; /* Border radius */
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold" !important;
        -fx-font-size: 16px;

}
.incidentbtn:hover {
    -fx-background-color:  #495a69; /* Hover background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 0);
}
.incidentbtn:pressed {
    -fx-background-color: #34404b; /* Pressed background color */
    -fx-text-fill: white; /* Text color */
    -fx-font-family: "Segoe UI SemiBold";
        -fx-font-size: 16px;
}