.button {
    -fx-background-color: transparent;
}

.button > .label {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 10.5;
}

.button .arrow {
    -fx-background-color: white;
}


.context-menu {
    -fx-background-color: #f2f2f2;
}

.context-menu .label {
    -fx-text-fill: black;
    -fx-font-size: 13px;
}

.menu-item {
    -fx-text-fill: white;
}

.menu-item:hover {
    -fx-background-color: #7b72c0;
}

.menu-item:hover .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #5e7387;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}