/* Modern Material Design Button */
.menu {
    -fx-background-color:   #1e222c; /* Background color */
    -fx-padding: 8px 16px; /* Padding */
    -fx-background-radius: 5px; /* Border radius */
    -fx-border-color: transparent; /* Border color */
    -fx-text-fill: #828797;
}

.menu:hover {
    -fx-background-color:  #3b4254; /* Hover background color */
    -fx-text-fill: #1e90ff;
}
