.darkchart .chart-series-area-fill {
    -fx-fill: rgb(104, 94, 135, 0.5);
    -fx-stroke: grey;

}

.darkchart .chart-series-area-line {
    -fx-fill: rgb(104, 94, 135, 1);
    -fx-stroke: rgb(104, 94, 135, 1);
    -fx-stroke-width: 5px;
}

.darkchart .chart-area-symbol {
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.darkchart .chart-plot-background {
    -fx-background-color: rgb(10, 10, 10, 0.1);
}

.darkchart .axis {
    -fx-tick-label-fill: rgb(10, 10, 10, 0.55);
}


.lightchart .chart-series-area-fill {
    -fx-fill: rgb(104, 94, 135, 0.5);
    -fx-stroke: grey;

}

.lightchart .chart-series-area-line {
    -fx-fill: rgb(104, 94, 135, 1);
    -fx-stroke: rgb(104, 94, 135, 1);
    -fx-stroke-width: 5px;
}

.lightchart .chart-area-symbol {
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.lightchart .chart-plot-background {
    -fx-background-color: rgb(200, 200, 200, 0.4);
}

.lightchart .axis {
    -fx-tick-label-fill: rgb(255, 255, 255, 0.8);
}