target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignore dependency-reduced-pom.xml
dependency-reduced-pom.xml
/.idea/intellij-javadocs-4.0.1.xml
/.idea/statistic.xml
/.idea/git_toolbox_prj.xml
/ReportsPlus /data/calloutData.xml
/ReportsPlus /data/calloutHistory.xml
/ReportsPlus /data/Charges.xml
/ReportsPlus /data/Citations.xml
/ReportsPlus /config.properties
/ReportsPlus /data/customization.json
/ReportsPlus /output.log
/ReportsPlus /ReportsPlus-v1.0.9-alpha.jar
