.lighttabpane .tab-pane {
    -fx-background-color: white;
}

.lighttabpane .tab {
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
    -fx-background-color: transparent;
    -fx-text-fill: white !important;
    -fx-padding: 4px 9px;
    -fx-background-radius: 8 8 0 0;
    -fx-border-color: rgb(128, 128, 128, 0.2);
    -fx-border-width: 0 0 0px 0;
}

.lighttabpane .tab-label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}

.lighttabpane .tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Bold";
}

.lighttabpane .tab:selected {
    -fx-background-color: transparent;
    -fx-border-color: rgb(255, 255, 255, 0.6);
    -fx-border-width: 0 0 2px 0;
    -fx-padding: 5.3 12px;
}

.lighttabpane .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.lighttabpane .tab:hover {
    -fx-background-color: rgb(200, 200, 200, 0.4);
}

.lighttabpane .tab:hover .tab-label {
}

.lighttabpane .tab-header-background {
    -fx-background-color: transparent;
}


.darktabpane .tab-pane {
    -fx-background-color: white;
}

.darktabpane .tab {
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
    -fx-background-color: transparent;
    -fx-text-fill: white !important;
    -fx-padding: 4px 9px;
    -fx-background-radius: 8 8 0 0;
    -fx-border-color: rgb(128, 128, 128, 0.2);
    -fx-border-width: 0 0 0px 0;
}

.darktabpane .tab-label {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}

.darktabpane .tab:selected .tab-label {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Bold";
}

.darktabpane .tab:selected {
    -fx-background-color: transparent;
    -fx-border-color: rgb(30, 30, 30, 0.6);
    -fx-border-width: 0 0 3px 0;
    -fx-padding: 5.3 12px;
}

.darktabpane .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.darktabpane .tab:hover {
    -fx-background-color: transparent;
}

.darktabpane .tab:hover .tab-label {
}

.darktabpane .tab-header-background {
    -fx-background-color: transparent;
}
