.button {
    -fx-background-color: rgb(0, 0, 0, 0.1);
    -fx-padding: 4px 15px;
    -fx-background-radius: 5px;
    -fx-text-fill: rgb(50, 50, 50, 0.7);
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 13px;
}

.button:hover {
    -fx-background-color: rgb(0, 0, 0, 0.2);
}

.button:pressed {
    -fx-background-color: rgb(0, 0, 0, 0.3);
}

.AuxButton {
    -fx-background-color: rgb(0, 0, 0, 0.1);
    -fx-padding: 3px 14px;
    -fx-background-radius: 7px;
    -fx-text-fill: rgb(50, 50, 50, 0.7);
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 13px;
}

.AuxButton:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.AuxButton:pressed {
    -fx-background-color: #39813b;
    -fx-text-fill: white;
}

.panelButton {
    -fx-background-color: transparent;
    -fx-background-radius: 7px;
    -fx-text-fill: rgb(80, 80, 80, 0.9);
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 14px;
    -fx-padding: 2px 4px;
}

.panelButton:hover {
    -fx-background-color: white;
    -fx-background-radius: 7px;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 14px;
}

.panelButton:pressed {
    -fx-background-color: rgb(0, 0, 0, 0.07);
    -fx-background-radius: 7px;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 14px;
}

.settingsLabel {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 20px;
    -fx-text-fill: rgb(75, 75, 75);
}

.paneHeading {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 17px;
    -fx-text-fill: rgb(100, 100, 100);
}

.paneSubtext {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 10px;
    -fx-text-fill: rgb(130, 130, 130, 0.85);
}

.heading {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 11px;
    -fx-text-fill: rgb(100, 100, 100, 0.6);
}

.toggle-button {
    -fx-background-color: #ff4d4d;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-background-radius: 15;
    -fx-padding: 0 20;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.toggle-button:selected {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.toggle-button:hover {
    -fx-background-color: #ff6666;
}

.toggle-button:selected:hover {
    -fx-background-color: #45A049;
}

.toggle-button:focused {
    -fx-border-color: transparent;
}

.text-field {
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 12px;
    -fx-text-fill: rgb(50, 50, 50);
    -fx-prompt-text-fill: rgb(50, 50, 50, 0.3);
    -fx-padding: 5 10 4 10;
    -fx-background-radius: 5;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: rgb(100, 100, 100);
}

.text-field:focused {
    -fx-border-color: green !important;
    -fx-border-width: 0 0 3 0;
}

.combo-box {
    -fx-font-family: "Segoe UI SemiBold" !important;
    -fx-font-size: 12px;
    -fx-text-fill: rgb(50, 50, 50);
    -fx-prompt-text-fill: rgb(50, 50, 50, 0.3);
    -fx-padding: 0 0 0 10;
    -fx-background-radius: 5;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: rgb(100, 100, 100);
}

.combo-box:focused {
    -fx-border-color: green !important;
    -fx-border-width: 0 0 3 0;
}

.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}