.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 14px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-min-height: 14px;
}

.scroll-bar:vertical .increment-button .increment-arrow,
.scroll-bar:vertical .decrement-button .decrement-arrow {
    -fx-opacity: 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-color: none;
}

.scroll-bar:vertical:pressed .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.47);
}