.incidentformButton {
    -fx-background-color: rgb(94, 115, 135,0.8); /* Background color */
    -fx-border-width: 1;
    -fx-border-color: rgb(1,1,1,0.2); /* Border color */
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 16px;
}
.incidentformButton:hover {
    -fx-background-color: #546778; /* Background color */
    -fx-border-width: 0;
}
.incidentformButton:pressed {
    -fx-background-color: #495a69; /* Background color */
    -fx-border-width: 0;
}