/* CSS */
.button-16 {
  -fx-background-color: none;
  -fx-font-size: 18;
  -fx-border-color: none;
  -fx-font-weight: none;
}

.button-16 {
  -fx-font-weight: bold;
  -fx-border-color: none;
  -fx-background-color: none;
  -fx-font-size: 18;
}

.button-16 {
  -fx-font-weight: bold;
  -fx-font-size: 19;
}

.button-16 {
  -fx-font-weight: bold;
  -fx-font-size: 19;
}