.text-field-custom {
    -fx-text-inner-color: black;
}

.combo-box-custom .text {
    /* Add more styles as needed */
    -fx-font-size: 17;
    -fx-font-family: "Segoe UI Semibold";
}

.combo-box-custom .list-cell {
    -fx-text-fill:  #004266; /* Set the text color */
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: black; /* Text color only for dropdown options */
}