.list-view-custom {
    -fx-background-color: #f0f0f0;
}

.list-view-custom .scroll-bar {
    -fx-background-color: transparent;
}

.list-view-custom .scroll-bar:vertical {
    -fx-pref-width: 10px;
}

.list-view-custom .scroll-bar:horizontal {
    -fx-pref-height: 10px;
}

.list-view-custom .scroll-bar .thumb {
    -fx-background-color: darkgrey;
}

.list-view-custom .scroll-bar .thumb:hover {
    -fx-background-color: #555555;
}

.list-view-custom .scroll-bar .thumb:pressed {
    -fx-background-color: #555555;
}

.list-view-custom .scroll-bar .track {
    -fx-background-color: transparent;
}