/* CSS */
.menu-1 {
  -fx-background-color: none;
  -fx-font-size: 18;
  -fx-border-color: none;
}

.menu-1:hover {
  -fx-font-weight: bold;
  -fx-border-color: none;
  -fx-background-color: none;
  -fx-font-size: 18;
}

.menu-1:active {
  -fx-font-weight: bold;
  -fx-font-size: 19;
}

.menu-1:focus {
  -fx-font-weight: bold;
  -fx-font-size: 19;
}