.toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI Black";
    -fx-padding: 3px 6px 0px;
    -fx-border-color: #698096;
    -fx-border-width: 0 0 0 0;
}
.toggle-button:selected {
    -fx-padding: 3px 6px 5px;
    -fx-border-width: 0 0 3.5 0;
}