.text-area-dark {
    -fx-background-color: rgb(10, 10,10, 0.1);
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 17px;
    -fx-border-width: 0.5;
    -fx-border-color: grey;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-padding: 6 6 6 13px;
}
.text-area-dark:focused {
    -fx-border-width: 1.2;
    -fx-border-color: #5e7387;
    -fx-background-color: rgb(10, 10,10, 0.2);
}
.text-area-dark .scroll-pane {
    -fx-background-color:  transparent;
}

.text-area-dark .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area-dark .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area-dark .scroll-pane .corner {
    -fx-background-color: transparent;
    }

/* Define styles for the vertical scroll bar */
.text-area-dark .scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-width: 15px; /* Thicker width */
}

.text-area-dark .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #5e7387; /* Thumb color */
    -fx-min-height: 15px; /* Thicker thumb */
}

.text-area-dark .scroll-pane .scroll-bar:vertical .increment-button,
.text-area-dark .scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the horizontal scroll bar */
.text-area-dark .scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-height: 15px; /* Thicker height */
}

.text-area-dark .scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #5e7387; /* Thumb color */
    -fx-min-width: 15px; /* Thicker thumb */
}

.text-area-dark .scroll-pane .scroll-bar:horizontal .increment-button,
.text-area-dark .scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the track of the scroll bars */
.text-area-dark .scroll-pane .scroll-bar .track {
    -fx-background-color: none; /* Transparent track */
}
/* Define styles for the vertical scroll bar when pressed */
.text-area-dark .scroll-pane .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #495a69; /* Thumb color when pressed */
}

/* Define styles for the horizontal scroll bar when pressed */
.text-area-dark .scroll-pane .scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #495a69; /* Thumb color when pressed */
}


.text-area-light {
    -fx-background-color: rgb(200, 200, 200, 0.4);
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 17px;
    -fx-border-width: 0.5; /* Set bottom border width */
    -fx-border-color: grey; /* Set initial border color to transparent */
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-padding: 6 6 6 13px;
}
.text-area-light:focused {
    -fx-border-color: #5e7387; /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-background-color: rgb(240, 240, 240, 0.6);
}
.text-area-light .scroll-pane {
    -fx-background-color:  transparent;
}

.text-area-light .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area-light .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area-light .scroll-pane .corner {
    -fx-background-color: transparent;
    }

/* Define styles for the vertical scroll bar */
.text-area-light .scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-width: 15px; /* Thicker width */
}

.text-area-light .scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #5e7387; /* Thumb color */
    -fx-min-height: 15px; /* Thicker thumb */
}

.text-area-light .scroll-pane .scroll-bar:vertical .increment-button,
.text-area-light .scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the horizontal scroll bar */
.text-area-light .scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-height: 15px; /* Thicker height */
}

.text-area-light .scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #5e7387; /* Thumb color */
    -fx-min-width: 15px; /* Thicker thumb */
}

.text-area-light .scroll-pane .scroll-bar:horizontal .increment-button,
.text-area-light .scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the track of the scroll bars */
.text-area-light .scroll-pane .scroll-bar .track {
    -fx-background-color: none; /* Transparent track */
}
/* Define styles for the vertical scroll bar when pressed */
.text-area-light .scroll-pane .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #495a69; /* Thumb color when pressed */
}

/* Define styles for the horizontal scroll bar when pressed */
.text-area-light .scroll-pane .scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #495a69; /* Thumb color when pressed */
    }
