/* Define styles for the scroll pane */
.scroll-pane {
    -fx-background:  white; /* Transparent background */

}
.scroll-pane .corner {
    -fx-background-color: transparent;
    }

/* Define styles for the vertical scroll bar */
.scroll-bar:vertical {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-width: 14px; /* Thicker width */
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #5e7387; /* Thumb color */
    -fx-min-height: 14px; /* Thicker thumb */
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the horizontal scroll bar */
.scroll-bar:horizontal {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-height: 14px; /* Thicker height */
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #5e7387; /* Thumb color */
    -fx-min-width: 14px; /* Thicker thumb */
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the track of the scroll bars */
.scroll-bar .track {
    -fx-background-color: none; /* Transparent track */
}
/* Define styles for the vertical scroll bar when pressed */
.scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #34404b; /* Thumb color when pressed */
}

/* Define styles for the horizontal scroll bar when pressed */
.scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #34404b; /* Thumb color when pressed */
}


.formPane {
    -fx-background-color:  transparent; /* Transparent background */
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.formPane .corner {
    -fx-background-color: transparent;
    }

/* Define styles for the vertical scroll bar */
.formPane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-width: 14px; /* Thicker width */
}

.formPane .scroll-bar:vertical .thumb {
    -fx-background-color: #383838; /* Thumb color */
    -fx-min-height: 14px; /* Thicker thumb */
}

.formPane .scroll-bar:vertical .increment-button,
.formPane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the horizontal scroll bar */
.formPane .scroll-bar:horizontal {
    -fx-background-color: transparent; /* Transparent background */
    -fx-pref-height: 14px; /* Thicker height */
}

.formPane .scroll-bar:horizontal .thumb {
    -fx-background-color: #383838; /* Thumb color */
    -fx-min-width: 14px; /* Thicker thumb */
}

.formPane .scroll-bar:horizontal .increment-button,
.formPane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent; /* Transparent buttons */
}

/* Define styles for the track of the scroll bars */
.formPane .scroll-bar .track {
    -fx-background-color: none; /* Transparent track */
}
/* Define styles for the vertical scroll bar when pressed */
.formPane .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #262626; /* Thumb color when pressed */
}

/* Define styles for the horizontal scroll bar when pressed */
.formPane .scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #262626; /* Thumb color when pressed */
}