
.scroll-pane {
    -fx-background: white;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 14px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #5e7387;
    -fx-min-height: 14px;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-height: 14px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #5e7387;
    -fx-min-width: 14px;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-color: none;
}

.scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #34404b;
}

.scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #34404b;
}


.formPane {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.formPane .corner {
    -fx-background-color: transparent;
}

.formPane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 14px;
}

.formPane .scroll-bar:vertical .thumb {
    -fx-background-color: #383838;
    -fx-min-height: 14px;
}

.formPane .scroll-bar:vertical .increment-button,
.formPane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.formPane .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-height: 14px;
}

.formPane .scroll-bar:horizontal .thumb {
    -fx-background-color: #383838;
    -fx-min-width: 14px;
}

.formPane .scroll-bar:horizontal .increment-button,
.formPane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

.formPane .scroll-bar .track {
    -fx-background-color: none;
}

.formPane .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #262626;
}

.formPane .scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #262626;
}


.versionPane .scroll-pane {
    -fx-background: transparent;
}

.versionPane .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.versionPane .scroll-pane .corner {
    -fx-background-color: transparent;
}

.versionPane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 14px;
}

.versionPane .scroll-bar:vertical .thumb {
    -fx-background-color: #5e7387;
    -fx-min-height: 14px;
}

.versionPane .scroll-bar:vertical .increment-button,
.versionPane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}

.versionPane .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-height: 14px;
}

.versionPane .scroll-bar:horizontal .thumb {
    -fx-background-color: #5e7387;
    -fx-min-width: 14px;
}

.versionPane .scroll-bar:horizontal .increment-button,
.versionPane .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
}

.versionPane .scroll-bar .track {
    -fx-background-color: none;
}

.versionPane .scroll-bar:vertical:pressed .thumb {
    -fx-background-color: #34404b;
}

.versionPane .scroll-bar:horizontal:pressed .thumb {
    -fx-background-color: #34404b;
}