.tab-pane {
    -fx-background-color: white;
}

.tab {
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
    -fx-background-color: transparent;
    -fx-text-fill: white !important;
    -fx-padding: 4px 9px;
    -fx-background-radius: 8 8 0 0;
    -fx-border-color: rgb(128, 128, 128, 0.2);
    -fx-border-width: 0 0 0px 0;
}

.tab-label {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}

.tab:selected .tab-label {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Bold";
}

.tab:selected {
    -fx-background-color: rgb(200, 200, 200, 0.5);
    -fx-border-color: #383838;
    -fx-border-width: 0 0 4px 0;
    -fx-padding: 5.3 12px;
}

.tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab:hover {
    -fx-background-color: rgb(230, 230, 230, 0.5);
}

.tab:hover .tab-label {
}

.tab-header-background {
    -fx-background-color: transparent;
}