/* Modern Material Design Button */
.button {
    -fx-background-color: none; /* Background color */
    -fx-padding: 8px 16px; /* Padding */
    -fx-border-radius: 4px; /* Border radius */
    -fx-border-color: rgb(30, 144, 255,0.4); /* Border color */
    -fx-text-fill: #b2b2b2;
}

.button:hover {
    -fx-background-color:  #008cd7; /* Hover background color */
    -fx-text-fill: #b2b2b2; /* Text color */
}

.button:pressed {
    -fx-background-color: #1565c0; /* Pressed background color */
    -fx-text-fill: #b2b2b2; /* Text color */
}