.lighttabpane .tab-pane {
    -fx-background-color: white; /* Background color */
}

.lighttabpane .tab {
    -fx-font-size: 15px; /* Font size of tab labels */
    -fx-font-family: "Segoe UI";
    -fx-background-color: transparent;
    -fx-text-fill: white !important; /* Text color of tabs */
    -fx-padding: 4px 9px; /* Padding on the left and right of each tab */
    -fx-background-radius: 8 8 0 0; /* Top-left and top-right corners rounded */
    -fx-border-color: rgb(128, 128, 128,0.2); /* Change border color when focused */
    -fx-border-width: 0 0 0px 0; /* Increase bottom border width when focused */
}

.lighttabpane .tab-label {
    -fx-text-fill: white; /* Text color of the selected tab */
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}

.lighttabpane .tab:selected .tab-label {
    -fx-text-fill: white; /* Text color of the selected tab */
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Bold";
}

.lighttabpane .tab:selected {
    -fx-background-color: transparent;
    -fx-border-color: rgb(255,255,255,0.6); /* Change border color when focused */
    -fx-border-width: 0 0 2px 0; /* Increase bottom border width when focused */
    -fx-padding: 5.3 12px; /* Padding on the left and right of each tab */
}

.lighttabpane .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.lighttabpane .tab:hover {
   -fx-background-color: rgb(200, 200, 200, 0.4);
}

.lighttabpane .tab:hover .tab-label {
    /*-fx-text-fill: #b5b5b5;  Text color of the selected tab */
}

.lighttabpane .tab-header-background {
    -fx-background-color: transparent; /* Background color of the selected tab header */
}




.darktabpane .tab-pane {
    -fx-background-color: white; /* Background color */
}

.darktabpane .tab {
    -fx-font-size: 15px; /* Font size of tab labels */
    -fx-font-family: "Segoe UI";
    -fx-background-color: transparent;
    -fx-text-fill: white !important; /* Text color of tabs */
    -fx-padding: 4px 9px; /* Padding on the left and right of each tab */
    -fx-background-radius: 8 8 0 0; /* Top-left and top-right corners rounded */
    -fx-border-color: rgb(128, 128, 128,0.2); /* Change border color when focused */
    -fx-border-width: 0 0 0px 0; /* Increase bottom border width when focused */
}

.darktabpane .tab-label {
    -fx-text-fill: black; /* Text color of the selected tab */
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}

.darktabpane .tab:selected .tab-label {
    -fx-text-fill: black; /* Text color of the selected tab */
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Bold";
}

.darktabpane .tab:selected {
    -fx-background-color: transparent;
    -fx-border-color: rgb(30,30,30,0.6); /* Change border color when focused */
    -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
    -fx-padding: 5.3 12px; /* Padding on the left and right of each tab */
}

.darktabpane .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.darktabpane .tab:hover {
   -fx-background-color: transparent;
}

.darktabpane .tab:hover .tab-label {
    /*-fx-text-fill: #b5b5b5;  Text color of the selected tab */
}

.darktabpane .tab-header-background {
    -fx-background-color: transparent; /* Background color of the selected tab header */
}
