.text-field {
    -fx-text-fill: white !important;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
    -fx-background-color: rgb(255, 255, 255, 0.1);
    -fx-prompt-text-fill: rgb(255, 255, 255, 0.5) !important;
    -fx-background-insets: 0;
    -fx-padding: 8px;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(255, 255, 255, 0.6);
}

.text-field:focused {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(255, 255, 255, 0.6);
    -fx-background-color: rgb(255, 255, 255, 0.2);
    -fx-effect: none;
}

.combo-box {
    -fx-text-fill: white !important;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
    -fx-background-color: rgb(255, 255, 255, 0.1);
    -fx-prompt-text-fill: white !important;
    -fx-background-insets: 0;
    -fx-padding: 2px;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(255, 255, 255, 0.6);
}

.combo-box:focused {
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: rgb(255, 255, 255, 0.6);
    -fx-effect: none;
    -fx-background-color: rgb(255, 255, 255, 0.2);
}

.combo-box .list-view .list-cell {
    -fx-text-fill: black;
    -fx-border-color: none;
}

.combo-box .combo-box-popup .list-view .list-cell {
    -fx-background-color: rgb(255, 255, 255, 0.1);
}

.combo-box .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgb(0, 0, 0, 0.1);
}

.combo-box .scroll-bar {
    -fx-background-color: none;
    -fx-pref-width: 11px;
}

.combo-box .scroll-bar .increment-arrow,
.combo-box .scroll-bar .decrement-arrow {
    -fx-background-color: none;
}

.combo-box .scroll-bar .thumb {
    -fx-background-color: #5e7387;
}

.combo-box .scroll-bar .thumb:pressed {
    -fx-background-color: #34404b;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}