.comboboxnew {
   -fx-text-fill: white !important;
       -fx-font-family: "Segoe UI Semibold";
       -fx-font-size: 16px;
       -fx-background-color: rgb(242, 242, 242, 0.6);
       -fx-prompt-text-fill: rgb(200, 200, 200,0.6) !important;
       -fx-background-insets: 0;
       -fx-border-radius: 0; /* Remove border-radius for a flat appearance */
       -fx-border-width: 0 0 2px 0; /* Set bottom border width */
       -fx-border-color: #262626; /* Set initial border color to transparent */
}
.comboboxnew .list-cell {
    -fx-text-fill:  white; /* Set the text color */
}
.comboboxnew-popup .list-view .list-cell {
    -fx-text-fill: black; /* Text color only for dropdown options */
    -fx-background-color:  #f2f2f2;
    -fx-border-color: none;
}
.comboboxnew .scroll-bar {
    -fx-background-color: #f2f2f2; /* Transparent background */
        -fx-pref-width: 11px; /* Thicker width */
}
.comboboxnew .scroll-bar .increment-arrow,
.comboboxnew .scroll-bar .decrement-arrow {
    -fx-background-color: none; /* Change arrow color */
}
.comboboxnew .scroll-bar .thumb {
    -fx-background-color: #5e7387; /* Change arrow color */
}
.comboboxnew .scroll-bar .thumb:pressed {
    -fx-background-color: #495a69; /* Change arrow color */
}
.comboboxnew:focused {
    -fx-border-color: #e6e6e6; /* Change border color when focused */
        -fx-border-width: 0 0 3px 0; /* Increase bottom border width when focused */
        -fx-background-color: rgb(242, 242, 242);
        -fx-effect: none;
}