.incidentformButton {
    -fx-background-color: rgb(94, 115, 135, 0.8);
    -fx-border-width: 0;
    -fx-border-color: white;
    -fx-text-fill: white !important;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 16px;
}

.incidentformButton > .label {
    -fx-text-fill: white !important; /* Change the text color to white */
    -fx-alignment: center-left;
    -fx-font-size: 18px;
    -fx-padding: 0 0 0 10.5;
}

.incidentformButton .context-menu {
    -fx-background-color: rgb(0, 0, 0, 0.15); /* Set the background color */
    -fx-padding: 0;
}

.incidentformButton .context-menu .label {
    -fx-text-fill: white; /* Set the text color */
    -fx-font-size: 15;
}


.incidentformButton .context-menu .menu-item {
    -fx-background-color: rgb(0, 0, 0, 0.15); /* Set the background color */
    -fx-text-fill: white; /* Set the text color */
    -fx-font-size: 15;
}

.incidentformButton .context-menu .menu-item:hover {
    -fx-background-color: rgb(0, 0, 0, 0.5); /* Set the background color on hover */
}

.incidentformButton:hover {
    -fx-background-color: #546778;
    -fx-border-width: 0;
}

.incidentformButton:pressed {
    -fx-background-color: #495a69; /* Background color */
    -fx-border-width: 0;
}