.incidentformButton {
    -fx-background-color: rgb(94, 115, 135,0.8);
    -fx-border-width: 0;
    -fx-border-color: white;
    -fx-text-fill: white !important;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-font-size: 16px;
}
.incidentformButton:hover {
    -fx-background-color: #546778;
    -fx-border-width: 0;
}
.incidentformButton:pressed {
    -fx-background-color: #495a69; /* Background color */
    -fx-border-width: 0;
}