.Button {
    -fx-font-family: "Inter 28pt Medium";
    -fx-text-fill: white;
    -fx-background-color: rgb(0, 0, 0, 0.1);
    -fx-padding: 0 11 0 12;
}

.combo-boxCal {
    -fx-text-fill: black !important;
    -fx-font-family: "Roboto";
    -fx-font-size: 10.5px;
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-padding: 0px;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: grey;
}

.combo-boxCal:focused {
    -fx-border-color: #5E7387;
    -fx-border-width: 0 0 3px 0;
    -fx-effect: none;
}

.combo-boxCal .list-view .list-cell {
    -fx-text-fill: black;
    -fx-border-color: none;
}

.combo-boxCal .combo-box-popup .list-view .list-cell {
    -fx-background-color: white;
}

.combo-boxCal .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgb(225, 225, 225, 1);
}

.combo-boxCal .scroll-bar {
    -fx-background-color: none;
    -fx-pref-width: 11px;
}

.combo-boxCal .scroll-bar .increment-arrow,
.combo-boxCal .scroll-bar .decrement-arrow {
    -fx-background-color: none;
}

.combo-boxCal .scroll-bar .thumb {
    -fx-background-color: #5E7387;
}

.combo-boxCal .scroll-bar .thumb:pressed {
    -fx-background-color: #34404B;
}

.combo-boxCal .list-cell {
    -fx-text-fill: black;
}

.split-pane .split-pane-divider {
    -fx-background-color: rgb(0, 0, 0, 0.2);
    -fx-padding: 3px;
}

.split-pane .split-pane-divider:pressed {
    -fx-background-color: rgb(0, 0, 0, 0.45);
}